<!DOCTYPE html>
<html>

<head>
	<title>oasis - online shopping made simple</title>
	<meta charset="UTF-8">

	<link rel="icon" type="image/svg+xml" href="images/favicon.svg">

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

	<link rel="stylesheet" href="./bower_components/slick-carousel/slick/slick.css">
	<link rel="stylesheet" href="./bower_components/slick-carousel/slick/slick-theme.css">

	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script> -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="style.css">

</head>

<body ng-app="oasis">

	<header>
		<nav class="navbar navbar-expand-md navbar-light fixed-top">
			<div class="container">
				<a class="navbar-brand" href="index.html">oasis</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-0 ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#!home">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!products">Products</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!contact">Contact</a>
						</li>
						<li class="nav-item" ng-controller="CartController">
							<a id="cart-toggle" class="nav-link" href="" ng-click="toggleCart()">
								<img src="images/icons/cart-fill.svg" ng-if="priceTotal > 0">
								<img src="images/icons/cart.svg" ng-if="priceTotal === 0">
							</a>

							<div id="nav-cart" class="container" ng-class="{visible: showCart}">

								<ul>
									<li ng-repeat="item in cartItems track by $index" >

										<span>
											<a href="#!products/{{item.id}}">
												{{item.name}}
											</a>
											<br>
											<span class="price">
												{{ item.price | currency : 'R' : 2 }}
											</span>
										</span>

										<a ng-click="deleteItemFromCart($index)">X</a>
									</li>
									<li id="price-total" >
										<span ng-if="priceTotal > 0">
											{{ priceTotal | currency : 'R' : 2 }}
										</span>
										<span ng-if="priceTotal === 0">
											empty cart
										</span>
									</li>
								</ul>

								<a ng-if="priceTotal > 0" href="" id="clear-cart" ng-click="clearCart()">Clear Cart</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>



	<div role="main" id="main-container" class="container">
		<div class="row">
			<ng-view class="container" autoscroll="true">

			</ng-view>
		</div>
	</div>

	<footer class="container-fluid">
		<div class="container py-5">
			<div class="row w-100">
				<div class="col-12 col-md">
					<h5 style="font-size: 24px;font-weight: 900">oasis</h5>
					<small class="d-block mb-3 text-muted">© Trystan Rivers 2020</small>
				</div>
				<div class="col-6 col-md">
					<h5>Features</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Cool stuff</a></li>
						<li><a class="text-muted" href="#">Random feature</a></li>
						<li><a class="text-muted" href="#">Team feature</a></li>
						<li><a class="text-muted" href="#">Stuff for developers</a></li>
						<li><a class="text-muted" href="#">Another one</a></li>
						<li><a class="text-muted" href="#">Last time</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Resources</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Resource</a></li>
						<li><a class="text-muted" href="#">Resource name</a></li>
						<li><a class="text-muted" href="#">Another resource</a></li>
						<li><a class="text-muted" href="#">Final resource</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Resources</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Business</a></li>
						<li><a class="text-muted" href="#">Education</a></li>
						<li><a class="text-muted" href="#">Government</a></li>
						<li><a class="text-muted" href="#">Gaming</a></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>About</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Team</a></li>
						<li><a class="text-muted" href="#">Locations</a></li>
						<li><a class="text-muted" href="#">Privacy</a></li>
						<li><a class="text-muted" href="#">Terms</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>



	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.js"></script>

	<!-- Angular Cookies-->
	<script src="./bower_components/angular-cookies/angular-cookies.js"></script>

	<!-- Slick -->
	<script src="./bower_components/slick-carousel/slick/slick.js"></script>
	<script src="./bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>

	<!-- jQuery Zoom -->
	<script src="src/jquery.zoom.min.js"></script>

	<!-- Core App -->
	<script src="data.js"></script>
	<script src="app.js"></script>

	<!-- Controllers -->
	<script src="controllers/HomeController.js"></script>
	<script src="controllers/CartController.js"></script>
	<script src="controllers/ContactController.js"></script>
	<script src="controllers/ProductController.js"></script>
	<script src="controllers/ProductDetailController.js"></script>

	<!-- Other Files -->
	<script src="utility/Util.js"></script>

</body>

</html>