body > .container {
    padding: 120px 15px 0;
}

/* HOME PAGE */

#home-hero {
	margin-top: 50px;
	background-color: #F3F3F3;

	background-size: cover;
}

#home-hero > .col {
	padding: 20vh 0 20vh 0;
	background-color: rgba(255,255,255,0.7);
}

.home-image {
	background-size: cover;
	background-position: center bottom;
}

/* PRODUCT DETAIL PAGE*/

.zoom {
	display:inline-block;
	position: relative;
}

.zoom img {
	display: block;
	/*width: 40vw;*/
	width: 100%;
}

.zoom img::selection {
	background-color: transparent;
}

/* PRODUCT DETAIL FEEDBACK */
.comment {
	padding: 20px;
	/*border: 1px solid #000;*/
	background-color: #f9f9f9;
	margin-bottom: 20px;
}

.feedback.ng-enter {
	transition: 0.2s;

	margin-bottom: -100px;
	opacity: 0;
}
.feedback.ng-enter-active {
	opacity: 1;
	margin-bottom: 0;

	overflow: hidden;
}

.comment-parent.ng-enter {
	transition: 0.2s ease-in;

	margin-bottom: -100px;
	opacity: 0;
}


.comment-parent.ng-enter-active {
	opacity: 1;

	margin-bottom: 0;
}

.btn-primary {
	background-color: #385F71;
	border-color: #385F71;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #385F71 !important;
}

.btn-primary:hover {
	color: #385F71;
	background-color: #fff !important;
	border-color: #385F71;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #385F71;
	border-color: #385F71;
}

.star {
	font-size: 24px;
}
.star:hover {
	cursor: pointer;
}

/* PRODUCT SLIDER */

#product-slider {
	margin: 50px 0 90px;
}

.product-slide {
	height: 60vh !important;

	background-position: center;
	background-size: cover;
}

.slick-dots {
	bottom: -35px;
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	color: black;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: .5;
}

.slick-dots li button:before {
	font-size: 14px;
	opacity: 0.1;
}

.slick-dots li.slick-active button:before {
	opacity: 0.3;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
	opacity: 0.5;
}
.slick-prev:before, .slick-next:before {
	color: #000;
	opacity: 0.1;
}

/* PRODUCT MASTER LIST */
.product-master
.product-thumb {
	width: 100%;
	height: 20vh;
	background-color: #efefef;
	/*height: 10vw;*/

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

	transition: background-size 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
.product-master
.product-title {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #9a9a9a;

	transition: color 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.product-master
.product-price {
	margin-top: 0;
	font-size: 20px;
	font-weight: 500;
	color: #c5c5c5;

	transition: color 150ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.product-master:hover .product-thumb {
	background-size: 110%;
}

.product-master:hover .product-title {
	color: #000;
}

.product-master:hover .product-price {
	color: #656565;
}


.product-break {
	height: 20px;
}

#product-list {
	padding-left: 0;
}

#product-list li {
	list-style: none;

	margin: 10px 0;
}

#product-list li img {
	width: 10vw;
}


/* PRODUCT DETAIL */

.product-detail {
	padding: 40px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.product-detail
.product-category {
	display: inline-block;

	padding: 8px 20px;
	font-size: 14px;
	font-weight: 100;

	color: #ffffff;
	background-color: #5B8E7D;
}

.product-detail
.product-title {
	font-size: 28px;
	font-weight: 400;
}

.product-detail
.product-price {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 400;

	/*text-decoration: line-through #efefef;*/
}

.product-detail
.product-description {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
}

.product-detail
.product-add {
	justify-self: flex-end;
	margin-top: auto;

	background-color: #385F71;
	color: #fff;

	padding: 10px 20px;
}


/*NAVBAR*/

nav.navbar {
	padding: 30px 0 ;

	background-color: #E3EEEA;
}

.navbar-brand {
	text-transform: lowercase;
	font-weight: 900;
	font-size: 24px;

	padding: 0 0 4px 0;

	margin-right: 5vw;
}

.nav-item {
	font-weight: 700;
}

#nav-cart {
	display: none;
	width: 200px;
	position: fixed;
	top: 100px;
	margin-left: -70px;

	background-color: #E3EEEA;

	padding: 0;


}

#nav-cart.visible {
	display: block;
}

#nav-cart ul {
	list-style: none;
	padding: 0;
}

#nav-cart li {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;

	border-bottom: 1px solid #B3D0C6;
}

#nav-cart li span {
	padding: 6px 20px;
}

#nav-cart li span > a {
	color: #000;
	font-weight: bold;
}

#nav-cart li > a {
	border-left: 1px solid #B3D0C6;

	color: #CA3C25;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0px 12px;
}

#nav-cart li > a:hover {
	background-color: #B3D0C6;
	cursor: pointer;
}

#nav-cart a#clear-cart {
	width: 100%;
	display: block;

	text-align: center;

	padding: 10px 10px;


}

/* FOOTER */

footer {
	margin-top: 70px;
	background-color: #E3EEEA;
}



/* SITEWIDE STYLING */
.section-head {
	text-align: center;
	margin-bottom: 50px;
	text-transform: lowercase;
}

/*FORM STYLING*/

input.ng-dirty.ng-invalid {
	border: 1px solid red;
}
select.ng-dirty.ng-invalid {
	border: 1px solid red;
}