body > .container {
    padding: 120px 15px 0;
}




.zoom {
	display:inline-block;
	position: relative;
}

.zoom img {
	display: block;
	width: 40vw;
}

.zoom img::selection {
	background-color: transparent;
}

.product-thumb {
	width: 100%;
	height: 20vh;
	background-color: #efefef;
	/*height: 10vw;*/

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.product-title {

	font-weight: 400;
}

.product-break {
	height: 20px;
}

#product-list {
	padding-left: 0;
}

#product-list li {
	list-style: none;

	margin: 10px 0;
}

#product-list li img {
	width: 10vw;
}


/*NAVBAR*/

nav.navbar {
	padding: 30px 0 ;

	background-color: #E3EEEA;
}

.navbar-brand {
	text-transform: lowercase;
	font-weight: 700;
	font-size: 24px;

	padding: 0 0 4px 0;

	margin-right: 5vw;
}

.nav-item {
	font-weight: 700;
}


/*FORM STYLING*/

input.ng-dirty.ng-invalid {
	border: 1px solid red;
}
select.ng-dirty.ng-invalid {
	border: 1px solid red;
}