<div id="home-hero" class=" text-center" style="background-position: center bottom; background-image: url(images/featured/room-simple.jpg)">
	<div class="col">
		<h1 style="font-size: 80px; font-weight: 800">oasis</h1>
	</div>
</div>

<div style="margin-top: 70px;">

<p>Want to get in touch? Take a look at our details below.</p>
<p>Phone Numbers:</p>
	<ul>
		<li ng-repeat="num in phoneNumbers">{{ num }}</li>
	</ul>

<p>Email Addresses:</p>
<table class="table">
	<thead>
		<tr>
			<th>Category</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(category, address) in emailAddresses">
			<td>{{ category }}</td>
			<td>{{ address }}</td>
		</tr>
	</tbody>
</table>
</div>