<div id="home-hero" class=" text-center" style="background-image: url(images/featured/living-room-cosy.jpg)">
	<div class="col">
		<h1 style="font-size: 80px; font-weight: 800">oasis</h1>
		<h2>online shopping. <a href="#!products" style="color: #000; text-decoration: underline">made simple</a></h2>
	</div>
</div>

<div class="row text-center" style="margin-top: 70px">

	<div class="col-md-2 offset-md-2">
		<img src="images/icons/lightning.svg" width="32" height="32">
		<h3>quick</h3>
	</div>
	<div class="col-md-2">
		<img src="images/icons/back.svg" width="32" height="32">
		<h3>easy</h3>
	</div>
	<div class="col-md-2">
		<img src="images/icons/circle.svg" width="32" height="32">
		<h3>clean</h3>
	</div>
	<div class="col-md-2">
		<img src="images/icons/box-seam.svg" width="32" height="32">
		<h3>done</h3>
	</div>

</div>

<div class="row" style="margin-top: 70px">

	<div class="col-md-4 offset-md-1" style="padding: 140px 20px 140px 0;">
		<h3>Refine your living experience.</h3>
		<p>
			It's the small things in life that matter, make sure they fit in.
		</p>
	</div>
	<div class="home-image col-md-6" style="background-image: url(images/featured/ocean-view.jpg)">

	</div>

</div>

<div class="row" style="margin-top: 70px">


	<div class="home-image col-md-6 offset-md-1" style="background-image: url(images/featured/bedside-lamp.jpg)">

	</div>
	<div class="col-md-4" style="padding: 140px 0px 140px 20px;">
		<h3>Refine your living experience.</h3>
		<p>
			It's the small things in life that matter, make sure they fit in.
		</p>
	</div>

</div>