<a href="#!products" style="margin-top: 70px; display: block">Back to Products</a>

<div class="row" style="margin-top: 20px">
	<div class="col">

		<span class='zoom' id='ex1'>
			<img src='images/products/{{productDetail.image}}' alt='Product Detail Image'/>
		</span>

	</div>
	<div class="col product-detail">

		<h4 class="product-category">
			{{productDetail.category | lowercase}}
		</h4>
		<h2 class="product-title">
			{{ productDetail.name }}
		</h2>
		<h3 class="product-price">
			R{{productDetail.price}}
		</h3>
		<p class="product-description">
			{{ productDetail.description }}
		</p>

		<a href="#" class="product-add">Add To Cart</a>

	</div>
</div>




<h4 class="text-center" style="margin-top: 70px; font-weight: 400;margin-bottom: 70px;">Reviews</h4>

<div class="row feedback" ng-if="comments.length > 0">
	<div class="container text-center comment-parent" ng-repeat="comment in comments track by $index">
			<div class="comment">
				{{ starRatingAsSymbols(comment.starRating) }}
				<br />
				{{ comment.content }}
			</div>
	</div>
</div>

<div class="container" style="display: flex; justify-content: center" ng-if="comments.length == 0">
	<h5 style="text-align: center; font-weight: 400; background-color: #efefef; display: inline; padding: 20px">no reviews yet</h5>
</div>

<div class="row" style="margin-top: 50px;">
	<div class="col-md-6 offset-md-3">
		<form name="commentForm" class="form-horizontal" ng-submit="addComment(commentForm)" novalidate>

			<!-- Email Field -->
			<div class="form-group">
				<div class="col-xs-3">
					<label for="email" class="control-label">Email</label>
				</div>
				<div class="col-xs-6">
					<input type="email" class="form-control" name="email" placeholder="Your email address" ng-model="formdata.email" required>
				</div>
				<div class="col-xs-3">
			<span class="error" ng-show="commentForm.email.$error.required">
			Your email address is required.
			</span>

					<span class="error" ng-show="commentForm.email.$dirty && commentForm.email.$error.email">
			This email is invalid.
			</span>
				</div>
			</div>

			<!-- Stars Field -->
			<div class="form-group">
				<div class="col-xs-3">
					<label for="stars" class="control-label">Rating</label>
				</div>
				<div class="col-xs-6">
					<select class="form-control" name="stars" id="stars" ng-model="formdata.starRating">
						<option value="1">1 Star</option>
						<option value="2">2 Stars</option>
						<option value="3">3 Stars</option>
						<option value="4">4 Stars</option>
						<option value="5">5 Stars</option>
					</select>
				</div>
			</div>

			<!-- Content Field -->
			<div class="form-group">
				<div class="col-xs-3">
					<label class="control-label" for="content">Content</label>
				</div>
				<div class="col-xs-6">
					<textarea class="form-control" name="content" id="content" placeholder="Your feedback (Optional)" ng-model="formdata.content"></textarea>
				</div>
				<div class="col-xs-3">
					<span></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-2 col-xs-offset-10">
					<button type="submit" class="btn btn-primary shadow-none" ng-disabled="commentForm.$invalid">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>


<script>
    $(document).ready(function(){
        $('#ex1').zoom({
            magnify: 1.4
		});
    });
</script>